*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

#notification-alert.show {
    right: 20px; /* Slide in to visible position */
    transition:  0.5s ease-in-out; /* Smooth slide-in animation */
}

#notification-alert.hide {
    right: -100%; /* Slide back out of view */
    transition:  0.5s ease-in-out;
}
