/* nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: black;
    background-color: lightblue;
}

nav .logotitle{
    color: red;
} */